.app-container {
  height: calc(100vh - 120px);
  margin-top: 56px;
}

.has-error .form-control {
  border-color: #dc3545;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.validation-message {
  color: #dc3545;
}

.help-block {
  margin-left: auto;
  margin-right: 14px;
  font-size: 14px;
}

.has-success .form-control {
  border-color: #198754;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
